<h1>Listing space_cats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>String</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @space_cats.each do |space_cat| %>
      <tr>
        <td><%= space_cat.name %></td>
        <td><%= space_cat.string %></td>
        <td><%= link_to 'Show', space_cat %></td>
        <td><%= link_to 'Edit', edit_space_cat_path(space_cat) %></td>
        <td><%= link_to 'Destroy', space_cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space cat', new_space_cat_path %>
