<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @space_cat.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @space_cat.string %>
</p>

<%= link_to 'Edit', edit_space_cat_path(@space_cat) %> |
<%= link_to 'Back', space_cats_path %>
